<div>
    <!-- Scoreboard -->
    <div class="panel panel-default" ng-if="game.started">
        <div class="panel-heading">Player Info</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    Player: {{game.player.name}}
                </div>
                <div class="col-md-6">
                    Score: {{game.player.score}}
                </div>
            </div>
        </div>
    </div>

    <!-- Card Table -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div ng-if="game.started">
                Game In Progress
            </div>
            <div ng-if="!game.started">
                Press "Start" to play
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div ng-if="game.dealer.isDone">
                    <p>Dealer Hand: {{game.dealer.handValue}}</p>
                </div>
                <div ng-if="!game.dealer.isDone">
                    <p>Dealer</p>
                </div>
                <div class="well well-lg">
                    <div class="row">
                        <blackjack-hand cards="game.dealer.cards" dealer="true" dealer-is-done="game.dealer.isDone"></blackjack-hand>
                    </div>
                </div>
            </div>

            <div class="row">
                <div ng-if="game.started">
                    <p>Player Hand: {{game.handValue}}</p>
                </div>
                <div ng-if="!game.started">
                    <p>Player</p>
                </div>
                    <div class="well well-lg">
                        <div class="row">
                            <blackjack-hand cards="game.playerCards" dealer="false"></blackjack-hand>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <!-- Game Actions -->
    <div class="panel panel-default">
        <div class="row" ng-if="game.started">
            <div class="col-md-6 col-md-offset-3">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group" role="group">
                        <button class="btn btn-primary" ng-click="game.deal()" ng-disabled="!game.canDeal">Deal</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-warning" ng-click="game.hit()" ng-disabled="!game.canHit">HIT</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-danger" ng-click="game.end()" ng-disabled="!game.canHit">STAY</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!game.started">
            <button class="btn btn-primary" ng-click="game.start()">Start</button>
        </div>
    </div>

    <!-- Game Results -->
    <div class="panel panel-default" ng-if="game.showResults">
        <div class="panel-heading">Results</div>
        <div class="panel-body">
            {{game.results}}
        </div>
    </div>

    <button class="btn btn-danger btn-sm" ng-click="game.reset()">Reset Game</button>
</div>
